@media only screen and (max-width: 1300px) {

    .mainParent {

        .imgParent {
            width: 45% !important;
        }

        .formParent {
            width: 55% !important;
        }
    }

}

@media only screen and (max-width: 1100px) {

    .mainParent {

        .formParent {

            h2 {
                font-size: 46px !important;
            }

            form {
                
                .loginParent, .passwordParent {
                    height: 47px !important;

                    input {
                        font-size: 20px !important;
                    }
                }

                i {
                    font-size: 21px !important;
                }

                .passwordView {
                    font-size: 18px !important;
                }

                .submitParent {

                    button {
                        height: 47px !important;
                    }
                }
            }
        }
    }

}

@media only screen and (max-width: 1000px) {

    .navParent {
        background-color: var(--mobile-background-color) !important;
    }

    .mainParent {
        background-color: var(--mobile-background-color) !important;

        .imgParent {
            display: none !important;
        }

        .formParent {
            width: 100% !important;

            h2 {
                font-size: 50px !important;
            }

            form {
                width: 440px !important;
                
                .loginParent, .passwordParent {
                    height: 50px !important;

                    input {
                        font-size: 21px !important;
                    }
                }

                i {
                    font-size: 23px !important;
                }

                .passwordView {
                    font-size: 20px !important;
                }

                .submitParent {

                    button {
                        height: 50px !important;
                    }
                }
            }
        }
    }

}

@media only screen and (max-width: 800px) {

    .mainParent {

        .formParent {

            h2 {
                font-size: 47px !important;
            }

            form {
                width: 430px !important;
                
                .loginParent, .passwordParent {
                    height: 50px !important;

                    input {
                        font-size: 21px !important;
                    }

                    i {
                        font-size: 23px !important;
                    }
    
                    .passwordView {
                        font-size: 20px !important;
                    }
                }

                .submitParent {

                    button {
                        height: 50px !important;
                    }
                }
            }
        }
    }

}

@media only screen and (max-width: 600px) {

    .navParent {
        height: 60px !important;

        .logoParent .logo a {
            font-size: 30px !important;
        }
    }

    .mainParent {

        .formParent {

            h2 {
                font-size: 45px !important;
            }

            form {
                width: 400px !important;
                
                .loginParent, .passwordParent {
                    height: 47px !important;

                    input {
                        font-size: 20px !important;
                    }

                    i {
                        font-size: 21px !important;
                    }

                    .passwordView {
                        font-size: 18px !important;
                    }
                }

                .submitParent {

                    button {
                        height: 47px !important;
                        font-size: 20px !important;
                    }
                }
            }
        }
    }

}

@media only screen and (max-width: 500px) {

    .navParent {

        .logoParent .logo a {
            font-size: 25px !important;
        }
    }

    .mainParent {

        .formParent {

            h2 {
                font-size: 40px !important;
            }

            form {
                width: 100% !important;
                padding: 0 30px !important;
                
                .loginParent, .passwordParent {
                    margin-top: 10px !important;
                    height: 45px !important;

                    input {
                        font-size: 18px !important;
                    }

                    i {
                        font-size: 19px !important;
                    }
    
                    .passwordView {
                        font-size: 16px !important;
                    }
                }

                .errorParent {

                    label.error {
                        font-size: 15px !important;
                    }
                }

                .rememberParent {

                    .rememberMe {

                        input {
                            height: 14px !important;
                            width: 14px !important;
                        }

                        label {
                            font-size: 15px !important;
                        }
                    }

                    .forgotParent a {
                        font-size: 15px !important;
                    }
                }

                .submitParent {

                    button {
                        margin-top: 13px !important;
                        height: 45px !important;
                        font-size: 18px !important;
                    }
                }

                .registrationParent {
                    margin-top: 13px !important;

                    a {
                        font-size: 15px !important;
                    }
                }
            }
        }
    }

}

@media only screen and (max-width: 450px) {

    .navParent {

        .logoParent .logo a {
            font-size: 23px !important;
            margin-left: 25px !important;
        }
    }

    .mainParent {

        .formParent {

            h2 {
                font-size: 35px !important;
            }

            form {
                padding: 0 25px !important;
                
                .loginParent, .passwordParent {
                    margin-top: 10px !important;
                    height: 45px !important;

                    input {
                        font-size: 18px !important;
                        padding-left: 48px !important;
                    }

                    #password {
                        padding-right: 60px !important;
                    }

                    i {
                        font-size: 18px !important;
                    }
    
                    .passwordView {
                        font-size: 16px !important;
                    }

                    .inputIcon {
                        left: 15px !important;
                    }
                }

                .errorParent {

                    label.error {
                        font-size: 14px !important;
                    }
                }

                .rememberParent {
                    margin-left: 10px !important;
                    margin-top: 20px !important;

                    .rememberMe {

                        input {
                            height: 14px !important;
                            width: 14px !important;
                            margin-left: 0 !important;
                        }

                        label {
                            font-size: 14px !important;
                        }
                    }

                    .forgotParent a {
                        margin-top: 3px !important;
                        font-size: 14px !important;
                    }
                }

                .submitParent {

                    button {
                        margin-top: 13px !important;
                        height: 45px !important;
                        font-size: 17px !important;
                    }
                }

                .registrationParent {
                    margin-top: 13px !important;

                    a {
                        font-size: 14px !important;
                    }
                }
            }
        }
    }

}

@media only screen and (max-width: 400px) {

    .mainParent {

        .formParent {

            form {
                padding: 0 20px !important;

                .loginParent, .passwordParent {
                    margin-top: 7px !important;
                    height: 45px !important;

                    input {
                        font-size: 17px !important;
                        padding-left: 45px !important;
                    }

                    #password {
                        padding-right: 57px !important;
                    }

                    i {
                        font-size: 17px !important;
                    }
    
                    .passwordView {
                        font-size: 15px !important;
                    }

                    .inputIcon {
                        left: 14px !important;
                    }
                }

                .errorParent {

                    label.error {
                        font-size: 13px !important;
                    }
                }

                .rememberParent {

                    .rememberMe {

                        input {
                            height: 13px !important;
                            width: 13px !important;
                        }
            
                        label {
                            font-size: 13px !important;
                        }
                    }
            
                    .forgotParent {
                        display: none !important;

                        a {
                            margin-top: 3px !important;
                            font-size: 13px !important;
                        }
                    }
                }

                .submitParent {

                    button {
                        margin-top: 12px !important;
                        height: 45px !important;
                        font-size: 16px !important;
                    }
                }

                .registrationParent {
                    margin-top: 12px !important;

                    a {
                        font-size: 13px !important;
                    }
                }

                .mobileForgotParent {
                    display: block !important;

                    a {
                        font-size: 13px !important;
                    }
                }
            }
        }
    }

}

@media only screen and (max-width: 320px) {

    .navParent {
        height: 50px !important;

        .logoParent .logo a {
            font-size: 20px !important;
            margin-left: 20px !important;
        }
    }

    .mainParent {

        .formParent {

            h2 {
                font-size: 30px !important;
            }

            form {
                padding: 0 15px !important;
            }
        }
    }

}