@media only screen and (max-width: 1700px) {

    .mainParent {

        .imgParent {
            width: 45% !important;
        }

        .contentParent {
            width: 55% !important;
        }
    }

}

@media only screen and (max-width: 1500px) {

    .mainParent {

        .imgParent {
            width: 40% !important;
        }

        .contentParent {
            width: 60% !important;
        }
    }

}

@media only screen and (max-width: 1400px) {

    .mainParent {

        .contentParent {

            .firstStep {

                h2 {
                    font-size: 45px !important;
                }

                form {

                    .formParent {
                        gap: 32px !important;

                        .formItem {

                            .dateParent {
                                width: 280px !important;

                                input {
                                    font-size: 18px !important;
                                    padding-left: 45px !important;
                                }

                                #password, #cpassword {
                                    padding-right: 45px !important;
                                }

                                i {
                                    font-size: 19px !important;
                                }

                                #password + i,
                                #cpassword + i {
                                    font-size: 16px !important;
                                }
                            }

                            .errorParent {
                                margin-top: 2px !important;

                                .error {
                                    font-size: 14px !important;
                                }
                            }
                        }

                        .submitParent {

                            button {
                                height: 45px !important;
                                font-size: 20px !important;
                            }
                        }
                    }

                    .loginParent {
                        margin-top: 0 !important;

                        a {
                            font-size: 15px !important;
                        }
                    }
                }
            }
        }
    }

}

@media only screen and (max-width: 1300px) {

    .navParent {
        background-color: rgb(232 239 250) !important;
    }

    .mainParent {
        padding-top: 70px !important;
        background-color: rgb(232 239 250) !important;

        .imgParent {
            display: none !important;
        }

        .contentParent {
            margin-top: -70px !important;
            width: 100% !important;

            .firstStep {

                h2 {
                    font-size: 50px !important;
                }

                form {

                    .formParent {
                        gap: 35px !important;

                        .formItem {

                            .dateParent {
                                width: 300px !important;

                                input {
                                    font-size: 20px !important;
                                    padding-left: 50px !important;
                                }

                                #password, #cpassword {
                                    padding-right: 50px !important;
                                }

                                i {
                                    font-size: 21px !important;
                                }

                                #password + i,
                                #cpassword + i {
                                    font-size: 18px !important;
                                }
                            }

                            .errorParent {
                                margin-top: 0 !important;

                                .error {
                                    font-size: 15px !important;
                                }
                            }
                        }

                        .submitParent {

                            button {
                                height: 50px !important;
                                font-size: 22px !important;
                            }
                        }
                    }

                    .loginParent {
                        margin-top: 5px !important;

                        a {
                            font-size: 16px !important;
                        }
                    }
                }
            }
        }
    }

}

@media only screen and (max-width: 1000px) {

    .mainParent {

        .contentParent {

            .firstStep {

                h2 {
                    font-size: 45px !important;
                }

                form {

                    .formParent {
                        gap: 32px !important;

                        .formItem {

                            .dateParent {
                                width: 280px !important;

                                input {
                                    font-size: 18px !important;
                                    padding-left: 45px !important;
                                }

                                #password, #cpassword {
                                    padding-right: 45px !important;
                                }

                                i {
                                    font-size: 19px !important;
                                }

                                #password + i,
                                #cpassword + i {
                                    font-size: 16px !important;
                                }
                            }

                            .errorParent {
                                margin-top: 2px !important;

                                .error {
                                    font-size: 14px !important;
                                }
                            }
                        }

                        .submitParent {

                            button {
                                height: 45px !important;
                                font-size: 20px !important;
                            }
                        }
                    }

                    .loginParent {
                        margin-top: 0 !important;

                        a {
                            font-size: 15px !important;
                        }
                    }
                }
            }
        }
    }

}

@media only screen and (max-width: 800px) {

    .mainParent {

        .contentParent {

            .firstStep {

                h2 {
                    font-size: 40px !important;
                }

                form {

                    .formParent {
                        gap: 30px !important;

                        .formItem {

                            .dateParent {
                                width: 260px !important;

                                input {
                                    font-size: 17px !important;
                                    padding-left: 43px !important;
                                }

                                #password, #cpassword {
                                    padding-right: 43px !important;
                                }

                                i {
                                    font-size: 18px !important;
                                }

                                #password + i,
                                #cpassword + i {
                                    font-size: 15px !important;
                                }
                            }

                            .errorParent {
                                margin-top: 1px !important;

                                .error {
                                    font-size: 13px !important;
                                }
                            }
                        }

                        .submitParent {

                            button {
                                height: 45px !important;
                                font-size: 19px !important;
                            }
                        }
                    }

                    .loginParent {
                        margin-top: 0 !important;

                        a {
                            font-size: 14px !important;
                        }
                    }
                }
            }
        }
    }

}

@media only screen and (max-width: 650px) {

    .navParent {
        height: 60px !important;

        .logoParent .logo a {
            font-size: 30px !important;
        }
    }

    .mainParent {
        padding-top: 60px !important;

        .contentParent {
            margin-top: -60px !important;

            .firstStep {

                h2 {
                    font-size: 40px !important;
                }

                form {

                    .formParent {
                        gap: 25px !important;

                        .formItem {

                            .dateParent {
                                width: 240px !important;

                                input {
                                    font-size: 16px !important;
                                    padding-left: 42px !important;
                                }

                                #password, #cpassword {
                                    padding-right: 42px !important;
                                }

                                i {
                                    font-size: 17px !important;
                                }

                                #password + i,
                                #cpassword + i {
                                    font-size: 14px !important;
                                }
                            }

                            .errorParent {
                                margin-top: 1px !important;

                                .error {
                                    font-size: 12px !important;
                                }
                            }
                        }

                        .submitParent {

                            button {
                                height: 45px !important;
                                font-size: 18px !important;
                            }
                        }
                    }

                    .loginParent {
                        margin-top: 0 !important;

                        a {
                            font-size: 13px !important;
                        }
                    }
                }
            }
        }
    }

}

@media only screen and (max-width: 550px) {

    .navParent {

        .logoParent .logo a {
            font-size: 25px !important;
        }
    }

    .mainParent {
        padding-top: 0 !important;

        .contentParent {
            margin-top: 0 !important;

            .firstStep {
                padding: 60px 0 !important;
                width: 100% !important;

                h2 {
                    font-size: 40px !important;
                }

                form {
                    width: 100% !important;
                    padding: 0 30px !important;

                    .formParent {
                        gap: 25px !important;
                        grid-template-columns: repeat(1, 1fr) !important;
                        grid-template-rows: repeat(7, 1fr) !important;

                        .formItem {

                            .dateParent {
                                width: 100% !important;

                                input {
                                    font-size: 18px !important;
                                    padding-left: 45px !important;
                                }

                                #password, #cpassword {
                                    padding-right: 45px !important;
                                }

                                i {
                                    font-size: 19px !important;
                                }

                                #password + i,
                                #cpassword + i {
                                    font-size: 16px !important;
                                }
                            }

                            .errorParent {
                                margin-top: 2px !important;

                                .error {
                                    font-size: 14px !important;
                                }
                            }
                        }

                        .submitParent {
                            grid-column: 1 / span 1 !important;
                            margin-top: -15px !important;

                            button {
                                height: 45px !important;
                                font-size: 20px !important;
                            }
                        }
                    }

                    .loginParent {
                        margin-top: 0 !important;

                        a {
                            font-size: 15px !important;
                        }
                    }
                }
            }
        }
    }

}

@media only screen and (max-width: 450px) {

    .navParent {

        .logoParent .logo a {
            font-size: 23px !important;
            margin-left: 25px !important;
        }
    }

    .mainParent {
        padding-top: 0 !important;

        .contentParent {
            margin-top: 0 !important;

            .firstStep {
                padding: 60px 0 !important;

                h2 {
                    font-size: 35px !important;
                }

                form {
                    padding: 0 25px !important;

                    .formParent {
                        gap: 25px !important;
                        grid-template-columns: repeat(1, 1fr) !important;
                        grid-template-rows: repeat(7, 1fr) !important;

                        .formItem {

                            .dateParent {
                                width: 100% !important;

                                input {
                                    font-size: 18px !important;
                                    padding-left: 48px !important;
                                }

                                #password, #cpassword {
                                    padding-right: 50px !important;
                                }

                                i {
                                    font-size: 18px !important;
                                }

                                #password + i,
                                #cpassword + i {
                                    font-size: 16px !important;
                                }
                            }

                            .errorParent {
                                margin-top: 1px !important;

                                .error {
                                    font-size: 14px !important;
                                }
                            }
                        }

                        .submitParent {
                            grid-column: 1 / span 1 !important;
                            margin-top: -15px !important;

                            button {
                                height: 45px !important;
                                font-size: 17px !important;
                            }
                        }
                    }

                    .loginParent {

                        a {
                            font-size: 14px !important;
                        }
                    }
                }
            }
        }
    }

}

@media only screen and (max-width: 400px) {

    .navParent {

        .logoParent .logo a {
            font-size: 23px !important;
            margin-left: 25px !important;
        }
    }

    .mainParent {

        .contentParent {

            .firstStep {

                h2 {
                    font-size: 35px !important;
                }

                form {
                    padding: 0 20px !important;

                    .formParent {
                        gap: 25px !important;

                        .formItem {

                            .dateParent {

                                input {
                                    font-size: 17px !important;
                                    padding-left: 45px !important;
                                }

                                #password, #cpassword {
                                    padding-right: 50px !important;
                                }

                                i {
                                    font-size: 17px !important;
                                }

                                #password + i,
                                #cpassword + i {
                                    font-size: 15px !important;
                                }
                            }

                            .errorParent {
                                margin-top: 1px !important;

                                .error {
                                    font-size: 13px !important;
                                }
                            }
                        }

                        .submitParent {
                            grid-column: 1 / span 1 !important;
                            margin-top: -15px !important;

                            button {
                                font-size: 16px !important;
                            }
                        }
                    }

                    .loginParent {

                        a {
                            font-size: 13px !important;
                        }
                    }
                }
            }
        }
    }

}

@media only screen and (max-width: 320px) {

    .navParent {
        height: 50px !important;

        .logoParent .logo a {
            font-size: 20px !important;
            margin-left: 20px !important;
        }
    }

    .mainParent {

        .contentParent {

            .firstStep {

                h2 {
                    font-size: 30px !important;
                }

                form {
                    padding: 0 15px !important;
                }
            }
        }
    }

}