@import "./components/variables.scss";
@import "./components/reset.scss";



// ----- ------ ---------- ----- ------ 
// ----- ------ Navigation ----- ------
// ----- ------ ---------- ----- ------



.navParent {
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 99999999;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;

    .logoParent .logo a {
        margin-left: 30px;
        color: var(--primary-color);
        font-size: 35px;
        letter-spacing: 1px;
        font-weight: 400;
        font-family: var(--font-family);
    }
}



// ----- ----- ---- ----- ----- -----
// ----- ----- Main Login ----- -----
// ----- ----- ---- ----- ----- -----



.mainParent {
    width: 100%;
    min-height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    > div {
        height: 100%;
        width: 50%;
    }

    .imgParent {
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../img/registration.jpg");
    }

    .contentParent {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: start;

        .firstStep {

            h2 {
                color: var(--primary-color);
                font-weight: 400;
                font-size: 50px;
                letter-spacing: 1px;
                font-family: var(--font-family);
                text-align: center;
            }
    
            form {
                
                .formParent {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(4, 1fr);
                    gap: 35px;
                    margin-top: 60px;
    
                    .formItem {
                        margin-top: -30px;
    
                        .dateParent {
                            height: 45px;
                            width: 300px;
                            position: relative;
                            border-bottom: 1px solid var(--primary-color);
    
                            input {
                                background-color: transparent;
                                height: 100%;
                                width: 100%;
                                outline: none;
                                border: none;
                                font-size: 20px;
                                color: var(--primary-color);
                                font-family: var(--font-family);
                                padding-left: 50px;
                                padding-right: 5px;
                                letter-spacing: 1px;
                                font-weight: 400;
                                text-transform: none;
    
                                &::placeholder {
                                    color: var(--primary-color);
                                }
                                
                                &::selection {
                                    background-color: transparent;
                                }
                            }
    
                            i {
                                font-size: 21px;
                                position: absolute;
                                color: var(--primary-color);
                                left: 15px;
                                top: 50%;
                                transform: translateY(-50%);
                                pointer-events: none;
                            }

                            #password, #cpassword {
                                padding-right: 50px;
                            }

                            #password + i,
                            #cpassword + i {
                                right: 15px;
                                left: inherit;
                                font-size: 18px;
                                cursor: pointer;
                                pointer-events: all;
                                padding: 5px 0;
                                display: none;
                            }
                        }
    
                        .errorParent {
                            margin-left: 5px;
                            height: 25px;
    
                            .error {
                                color: red;
                                pointer-events: none;
                                font-family: var(--font-family);
                                letter-spacing: 1px;
                                font-weight: 400;
                                font-size: 15px;
                                text-transform: capitalize;
                            }
                        }
                    }
    
                    .submitParent {
                        grid-column: 1 / span 2;
                        align-items: center;
                        display: flex;
    
                        button {
                            width: 100%;
                            height: 50px;
                            font-family: var(--font-family);
                            letter-spacing: 1px;
                            font-weight: 400;
                            border: none;
                            font-size: 22px;
                            border-radius: var(--border-radius);
                            cursor: pointer;
                            color: white;
                            background-color: var(--primary-color);
                        }
                    }
                }
    
                .loginParent {
                    margin-top: 5px;
                    margin-left: 5px;
    
                    a {
                        text-transform: capitalize;
                        color: var(--primary-color);
                        font-family: var(--font-family);
                        letter-spacing: 1px;
                        font-weight: 400;
                        font-size: 16px;
    
                        &:hover span::before {
                            width: 105%;
                        }
    
                        span {
                            padding-bottom: 2px;
                            position: relative;
    
                            &::before {
                                transition: var(--transition);
                                content: "";
                                position: absolute;
                                bottom: 0;
                                left: -2.5%;
                                height: 1px;
                                width: 0;
                                background-color: var(--primary-color);
                            }
                        }
                    }
                }
            }
        }
    }
}



// ----- ------ ------------- ----- ------ 
// ----- ------ Media Queries ----- ------
// ----- ------ ------------- ----- ------



@import "./components/registration-media.scss";